
{% extends "front/base.html.twig" %}


{% block main %}

    {{ batman }}

     <h1>Liste des Types de produits</h1> 

    <div class="container">
        {% for type in types %}
            <div class="row">
                <article>
                    {# path permet de rediriger vers une url grace au nom de la route et des paramètres de cette route si nécessaire #}
                    <center><a href="{{ path('TypeShow', {'id' : type.id}) }}"><h1> {{  type.name }} </h1></a></center>
                </article>
            </div>
        {% endfor %}
    </div>

{% endblock %}